@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>
@section scripts{
    <script>
        $(function () {
            $("h2").on("click", function () {
                $.get("/Home/GetData/1?a=" + new Date().toLocaleTimeString(), function (result) {
                    debugger;
                    throw 0 / 0;
                    if (result.State == "SUCCESS") {
                        alert(new RegExp(/^\d*$/).test("0"));
                        alert(result.Data.StrDateTime);
                    } else {
                        alert(result.Message);
                    }
                });
            });
        });

    </script>

}