@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>
@section scripts{
    <script>
        $(function () {
            $("h2").on("click", function () {
                $.get("/Home/GetData/1?a=" + new Date().toLocaleTimeString(), function (result) {
                    if (result.OK = "OK") {
                        alert(result.StrDateTime);
                    }
                }).error(function () { alert(); });
            });
        });

    </script>

}