
@{
    ViewBag.Title = "注册";
    Layout = "~/Views/Shared/_LayoutRuleless.cshtml";
}
<el-form id="form1" v-bind:model="ruleForm" v-bind:rules="rules" ref="ruleForm" label-width="80px" style="width:400px; margin:100px auto;">
    <h1 style="text-align:center;">注册</h1>

    <el-form-item label="昵称" prop="Nickname">
        <el-input v-model="ruleForm.Nickname"></el-input>
    </el-form-item>
    <el-form-item label="用户名" prop="Name">
        <el-input v-model="ruleForm.Name"></el-input>
    </el-form-item>
    <el-form-item label="密码" prop="Password">
        <el-input v-model="ruleForm.Password" type="password"></el-input>
    </el-form-item>
    <el-form-item label="手机号" prop="Phone">
        <el-input v-model="ruleForm.Phone"></el-input>
    </el-form-item>
    <el-form-item label="邮箱" prop="Email"
                  v-bind:rules="[
                        { required:true, message:'请输入邮箱地址'},
                        { type:'email', message:'请输入正确的邮箱地址 例如：xxx@xxxx.com'}
                      ]">
        <el-input v-model="ruleForm.Email"></el-input>
    </el-form-item>
    <el-form-item label="年龄" prop="Age">
        <el-input v-model.number="ruleForm.Age"></el-input>
    </el-form-item>
    @*<el-form-item label="性别" prop="Sex">
            <el-select v-model="ruleForm.Sex" placeholder="请选择性别">
                <el-option label="男" value="1"></el-option>
                <el-option label="女" value="2"></el-option>
            </el-select>
        </el-form-item>*@
    <el-form-item label="性别" prop="Sex">
        <el-radio-group v-model="ruleForm.Sex">
            <el-radio label="1">男</el-radio>
            <el-radio label="2">女</el-radio>
        </el-radio-group>
    </el-form-item>
    <el-form-item label="生日" prop="birthday">
        <el-col v-bind:span="12">
            <el-date-picker type="date" placeholder="选择生日" v-model="ruleForm.birthday" style="width: 100%;"></el-date-picker>
        </el-col>
    </el-form-item>
    <el-form-item label="备注">
        <el-input type="textarea" v-model="ruleForm.desc"></el-input>
    </el-form-item>
    <el-form-item>
        <el-button type="primary" v-on:click="onSubmit()">创建</el-button>
        <el-button v-on:click="resetForm()">重置</el-button>
    </el-form-item>
</el-form>

<script>
    function getDefaultData() {
        return {
            Name: '',
            Password: '',
            Nickname: '',
            Phone: '',
            Email: '',
            Age: '',
            Sex: '1',
            birthday: '',
            desc: ''
        };
    }

    var defaultData = getDefaultData();

    var form1 = new Vue({
        el: "#form1",
        data: {
            ruleForm: defaultData,
            rules: {
                Name: [
                    { required: true, message: "请输入名称" },
                    { min: 4, max: 20, message: "长度在4-20个字符" }
                ],
                Password: [
                    { required: true, message: "请输入密码" },
                    { min: 4, max: 16, message: "长度在4-16个字符" }
                ],
                Nickname: [{ required: true, message: "请输入昵称" }],
                Phone: [{ required: true, message: "请输入电话" }],
                Age: [
                    { required: true, message: "请输入年龄" },
                    { type: "number", message: "年龄必须是整数" }
                ],
                Sex: [{ required: true, message: "请选择性别" }],
                birthday: [{ type: "date", required: true, message: "请选择生日" }]
            },
        },
        methods: {
            onSubmit() {
                var _this = this;
                _this.$refs['ruleForm'].validate((valid) => {
                    if (valid) {
                        $.post("/Home/SaveRegister", JSON.stringify(form1.ruleForm), function (result) {
                            
                            if (result.State == "SUCCESS")
                            {
                                _this.$message({
                                    message: result.Message,
                                    type: 'success'
                                });
                                _this.resetForm();
                            }
                            else {
                                _this.$message({
                                    message: result.Message,
                                    type: 'error'
                                });
                            }
                        });
                    } else {
                        //_this.$message({ message: "请按照提示输入正确的值" });
                        this.$notify.error({
                            title: '错误',
                            message: '请按照提示输入正确的值'
                        });
                    }
                });
            },
            resetForm() {
                this.$refs['ruleForm'].resetFields();
            }
        }
    });
</script>
